@charset 'UTF-8';

.animate-appear {
  opacity: 0;
  transition: opacity 1s ease-in;

  &.animate-appear-active {
    opacity: 1;
  }
}

.animate-enter {
  opacity: 0;
  transition: opacity 1s ease-in;

  &.animate-enter-active {
    opacity: 1;
  }
}

.animate-leave {
  opacity: 1;
  transition: opacity 1s ease-in;

  &.animate-leave-active {
    opacity: 0;
  }
}
