@charset 'UTF-8';

body {
  font-family: Roboto;
}

body,
h1 {
  background-color: $cyan;
  color: $magenta;
}

.container {
  padding-top: $heigth-navbar;
}

.active {
  color: $cyan !important;
}

.titulo {
  display: flex;
  flex-flow: row wrap;

  h1 {
    color: $yellow;
    position: relative;
    // top: -2rem;
  }
}
div[data-reactroot] {
  background-color: transparent !important;
  box-shadow: none !important;
}
