@charset 'UTF-8';
@import '../../static/scss/variables';

.titulo {
  display: flex;
  flex-flow: row wrap;

  h1 {
    color: $yellow;
    font-family: Darkenstone;
  }
}

.sub-titulo {
  color: $orange;
  font-family: FontAwesome;
}

img {
  height: 30%;
  width: 30%;
}
