@charset 'UTF-8';
@import '../../static/scss/variables';

.titulo {
  &.cssgradients {
    background-image: linear-gradient(cornflowerblue, rebeccapurple);
  }
}

.sub-titulo {
  color: $orange;
}

img {
  height: 30%;
  width: 30%;
}

