@charset 'UTF-8';
@import '../../static/scss/variables';

.blog {
  &-title {
    background-image: url('../../static/images/banner.jpg');
    background-repeat: no-repeat;
    color: $purple;
    height: 150px;
    top: -1rem;
    position: relative;
  }
}
