@charset 'UTF-8';

// @import './static/scss/reset';
@import './static/scss/normalize';
@import './static/scss/variables';
@import './static/scss/base';
@import './static/scss/navigation';
@import './static/scss/animations';

